/*footer links unten */
$property-footer-bg-color: #36ad47; 
$property-footer-font-color: rgb(255, 255, 255); 

.property_footer .row
{

  display:table;
  vertical-align: top !important  ;
}

.property_footer,
.property_footer h2,
.property_footer h3,
.property_footer h4,
.property_footer a,
{
  background-color:$property-footer-bg-color; 
  color:$property-footer-font-color;
}

.property_footer
{

  text-align: center !important;
}
.section-3 P
{ 
line-height:emCalc(18px);
 }
.property_footer LI
{

  text-align: center !important;
}

.property_footer
{
  padding-top:emCalc(15px);

}
.property_footer LI
{
  margin-left: 0px !important;
  list-style: none;
}

  .property_footer .section-2,
  .property_footer .section-3,
  .property_footer .section-4
  {
/* margin-top:emCalc(-20px) !important; */
  }
@media only screen and (min-width: 640px) { 
  .property_footer .section-2,
  .property_footer .section-3,
  .property_footer .section-4
  {

    border-left:1px dotted white;

    height:100%;
  }
  .property_footer .section-2,
  .property_footer .section-3,
  .property_footer .section-4
  {
    padding: 0px 0 0 0;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: emCalc(200px);
    margin-bottom: emCalc(20px); }
  }
  @media only screen and (max-width: 641px) { 
    .property_footer .section-1,
    .property_footer .section-2,
    .property_footer .section-3
    {

      border-bottom:1px dotted white;
      margin-bottom:emCalc(25);
    }
  }
  /*ende footer links*/


// footer 
$footer-bg-color: $property-footer-bg-color;
$footer-link-color:#fff; 
$footer-border-color: invert($footer-link-color);
$footer-txt-shd-color:invert($footer-link-color);



FOOTER {
	background: $footer-bg-color;
	border-top: emCalc(5px) solid rgba($footer-border-color, 0.1);
	position: relative;
	z-index: 99;
	width: 100%;
	padding: emCalc(0 0 0 0 );
}


footer h3 {
/* 	font-size: emCalc(16px); */
/* 	text-transform: uppercase; */
	color: rgba($footer-link-color, 0.9);

}

footer li, footer p, footer a {	
/* 	font-size: emCalc(14px); */
	font-style: normal;
	font-weight: normal;
	color: rgba($footer-link-color, 0.6);

}

footer a {
	color: rgba(255, 255, 255, 0.6);
}
footer a:hover {
	
	color: rgba($footer-link-color, 0.7);
}	
.fNavCol
{
	text-align:right;
}
.social
{
	padding-top: emCalc(5px);
}
@media only screen and (max-width: 640px) {
	
	.fSocialCol
	{
		
		text-align:center;
	}
	.fNavCol	{
		
		text-align:center;
		margin: 0 !important;
		padding: 0!important;
	}
	FOOTER
	{
		float:right;	
	
	}
	.social
	{
	
		float: none;
		margin: 0;
		text-align: center;
		display: inline-block;
	}
}

footer .copyright
{
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
font-size:emCalc(12px);
}
#absBottom
{ 
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
#footerNav
{ 

color:rgba(255, 255, 255, 0.2);
font-size:emCalc(14px);
 }

