{{ theme:partial name="header" }}
{{ if !{ mobiledetect:isMobile } }}

{{ theme:partial name="slider" }}
{{else}}
{{ theme:variables name="class_mobile" value="mobile" }}
{{endif}}

<!-- content -->
<section id="content">
  <div class="row">
	<div class="large-12 columns">
	  <br>

		<span class="startmainheading startmainheading_{{ theme:variables name="class_mobile" }}" >

		{{page:start_mainheading}}		</span>
	  </div>
	
	  <div class="large-12 columns">

		{{ if { url:segments segment="1" } == '' AND theme:options:orbit == 'yes' }}
		<!-- orbit -->

		{{ theme:partial name="orbit" }}
		<!-- /orbit -->

		{{ endif }}

		<div class="row">
		  <div class="large-4 columns">
			<p>
			  <h3 class="startHeading">{{page:start_spalte_1_uberschrift}}</h3>
			</p>
			{{page:start_spalte_1_bild:img}}    
			<h4>{{page:start_spalte_1_textuberschrift}}</h4>
			<p>
			  {{page:start_spalte_1_text}}
			</p>
		  </div>

		  <div class="large-4 columns">
			<p>
			  <h3 class="startHeading">{{page:start_spalte_2_uberschrift}}</h3>
			</p>
			{{page:start_spalte_2_bild:img}}    

			<h4>{{page:start_spalte_2_textuberschrift}}</h4>
			<p>
			  {{page:start_spalte_2_text}}
			</p>
		  </div>


		  <div class="large-4 columns">
			<p>
			  <h3 class="startHeading">{{page:start_spalte_3_uberschrift}}</h3>
			</p>
			{{page:start_spalte_3_bild:img}}    

			<h4>{{page:start_spalte_3_textuberschrift}}</h4>
			<p>
			  {{page:start_spalte_3_text}}
			</p>
		  </div>


		</div>

		<div class="row">
		  <div class="columns large-8">
{{widgets:area slug="start-bottom-left"}}
		  </div> <!-- ende cols -->
		  <div class="columns large-4">
<div class="panel radius">
{{ widgets:area slug="start-bottom-right" }}
</div>
		  </div><!-- ende cols -->

		</div><!-- ende row -->
	  </div>

	</div>

  </section>


  <!-- /content -->

  {{ theme:partial name="footer" }}

