{{ noparse }}
<!--
	iosslider
-->
{{ /noparse }}
<div class = 'container'>

  <div class = 'iosSlider'>

	<div class = 'slider'>

	  <div class = 'item' >
		<div class = 'inner hide'>


		  {{ theme:image file="elektro/kabel.jpg" alt="slider kabel" }}

		  <div class = 'text1'><span style="color:#41b5ff;">TarifWirrwarrWarum ?</span>
		  </div>

		  <div class = 'text2'><span>Lassen Sie sich von uns beraten und sparen Sie in <br><nobr>&nbsp;&nbsp;&nbsp;&nbsp;Ihrem Unternehmen<strong> 20 - 30 %</strong> Ihrer Energiekosten</nobr></span></div>
		</div>
	  </div>
	  <div class = 'item'>
		<div class = 'inner hide'>

		  {{ theme:image file="elektro/kellerlicht.jpg" alt="licht" }}

		  <div class = 'text1'><span style="color:#6FCC47;">Licht ins Dunkel</span></div>

		  <div class = 'text2'><span>&nbsp;&nbsp;Unsere <strong>Energie-Audits</strong> sparen <br>Ihrem Unternehmen <strong>Geld</strong> und <strong>Energie</strong></span></div>
		</div>
	  </div>
	  <div class = 'item'>
		<div class = 'inner hide'>

		  {{ theme:image file="elektro/wendeltreppe.jpg" alt="wendeltreppe" }}

		  <div class = 'text1' ><span style="color:#65646C;">Der Preisspirale den Kampf ansagen!</span></div>
		  <div class = 'text2'><span>Wer hat schon was zu <strong>verschenken?</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Beraten Lassen</strong> und Resourcen sparen!</span></div>

		</div>
	  </div>
	</div>
	<div class = 'selectorsBlock'>

	  <div class = 'selectors'>
		<div class = 'item first selected'></div>
		<div class = 'item'></div>
		<div class = 'item'></div>
	  </div>

	</div>

  </div>

</div>

